{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "not dead",
            "not op_mini all",
            "not < 1%"
          ]
        }
      }
    ]
  ],
  "plugins": ["transform-class-properties", "transform-es2015-arrow-functions"]
}
