{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "not dead",
            "not op_mini all",
            "not < 1%"
          ]
        }
      }
    ]
  ]
}
