# Integration Tests

name: Integration Tests

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  integration-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java-version: [21]
        node-version: [lts/*]
        os: [ubuntu-latest,windows-latest,macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Java ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}
          cache: maven
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm ci
        run: npm ci

      - name: "Integration Test: wcmio-archetype-module"
        run: mvn clean verify
        working-directory: integration-test/wcmio-archetype-module
      - uses: actions/upload-artifact@v7
        if: always()
        with:
          name: wcmio-archetype-module-result-${{ matrix.os }}-java${{ matrix.java-version }}
          path: integration-test/wcmio-archetype-module/result/
          if-no-files-found: warn
          include-hidden-files: true

      - name: "Integration Test: wcmio-archetype-module-cjs"
        run: mvn clean verify
        working-directory: integration-test/wcmio-archetype-module-cjs
      - uses: actions/upload-artifact@v7
        if: always()
        with:
          name: wcmio-archetype-module-cjs-result-${{ matrix.os }}-java${{ matrix.java-version }}
          path: integration-test/wcmio-archetype-module-cjs/result/
          if-no-files-found: warn
          include-hidden-files: true

      - name: "Integration Test: wcmio-archetype-commonjs"
        run: mvn clean verify
        working-directory: integration-test/wcmio-archetype-commonjs
      - uses: actions/upload-artifact@v7
        if: always()
        with:
          name: wcmio-archetype-commonjs-result-${{ matrix.os }}-java${{ matrix.java-version }}
          path: integration-test/wcmio-archetype-commonjs/result/
          if-no-files-found: warn
          include-hidden-files: true
